<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Lista de usuarios</title>
</head>
<body>
    <div class="borde">
        <% if (locals.isLogged) { %> 
            <h3>hola! </h3>
            <img src="/../img/<%= locals.userInLog.image %>" alt="imagen" width="5%" /> <br> <br>
            <a href="/profile">Perfil</a>
            <br><br>
    </div>
              
   
      <h1>Todos los Usuarios:</h1>
      
      <% } else { %> 
        <h1>Usuarios</h1>
    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
    <br><br> 
    <% } %> 
    
    </div>
    <br>


    <% for (let user of allUsers) { %>

            <% if (locals.isLogged == true) { %> 
                <% if (emailLog == user.email) { %>
                    <div class="bordeUser">
                    <h3>Tu cuenta:</h3>
                    <% } else { %> 
                        <div class="borde">
                        <% } %>  
            <% } else { %> 
                <div class="borde">
            <% } %> 

            <br>
        <img src="/../img/<%= user.image %>" alt="imagen" width="10%" /> 
        <h2>Nombre de usuario: <%= user.username %> </h2>
        <h3>Email: <%= user.email %> </h3>
        </div>
        
        <br><br>
                
    <% } %> 

</body>
</html>