<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Lista de usuarios</title>
</head>
<body>
    <div class="borde">
      <h1>Usuarios</h1>
    <a href="/login">Login</a>
    <br>
    <a href="/register">Register</a>
    <br><br>  
    </div>
    <br>
    
    <!-- <a href="/profile">Profile</a> -->

    <% for (let user of allUsers) { %>

        <div class="borde">
            <br>
        <img src="/../img/<%= user.image %>" alt="imagen" width="10%" /> 
        <h2>Nombre de usuario: <%= user.username %> </h2>
        <h3>Email: <%= user.email %> </h3>
        </div>
        
        <br><br>
                
    <% } %> 

</body>
</html>